body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #fff
}


a {
    color: inherit;
    text-decoration: none;
}


.logo {

    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
            font-size: 18px;
            line-height: 1.166;
            letter-spacing: 0.03em;
            text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.accent { color: #4D5AE5;

}

.accent-cloud {
    color: #F4F4FD;

}

/* #region header */



.main-page {
background-color: inherit
}
.page-navigation {
background-color: inherit
}
.navigation-list {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navigation-list-item:hover, .navigation-list-item:focus, .navigation-list-item:active {
color: #404BBF;
}

.list-contact {
    color: #434455;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.list-contact-item:hover, .list-contact-itemt:focus {
    color: #404BBF;
}
/* #endregion header */

/* #region hero */

.hero { background-color: #2E2F42 ;}
.main-title { color: #fff;
    text-align: center;
    font-weight: 700;
        font-size: 56px;
        line-height: 1.071;
        letter-spacing: 0.02em;

}
.hero-action {
    font-family: inherit;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-action:hover,
.hero-action:focus,
.hero-action:active {
    background-color: #404BBF;
}
/* #endregion hero */

/* #region features */


.features {
    background-color: inherit;
}

.features-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.features-title-desc {
    color: #434455;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* #endregion features */

/* #region team */


.team {
    background-color: #F4F4FD;

}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.111;
        letter-spacing: 0.02em;
        text-align: center;
    
}

.team-title-items {
    background-color: #fff;
}

.team-members {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.member-speciality { 
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455 ;
}
/* #endregion team */

/* #region portfolio */


.portfolio-tittle {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
}

.portfolio-item {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; ;
}

.portfolio-item-type {
    color: #434455;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* #endregion portfolio */

/* #region footer */

.footer-main {
    background-color: #2E2F42;
}
.footer-main-desc {
    color: #F4F4FD;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* #endregion footer */